body * {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --theme-tan: #DDD1C7;
  --theme-light-green: #C2CFB2;
  --theme-light-green-transparent: #c2cfb273;
  --theme-green: #8DB580;
  --theme-green-transparent: #8db5807a;
  --theme-gray: #7E8987;
  --theme-purple: #4B4A67;
  --theme-light-purple: #5B5A75;
  --theme-red: #B85B5B;
  --theme-orange: #C78728;
  --theme-background: #DDD1C72C;
  
  /* orange options */
  /* c78728 */
  /* c29915 */
}

#root {
  background: var(--theme-background);
  min-height: 100vh;
}

.bg-creme {
  background-color: var(--theme-background);
}

#nav-brand {
  font-family: "Gwendolyn", cursive;
  font-size: 2em;
  font-weight: 400;
}

#homepage-brand {
  font-family: "Gwendolyn", cursive;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  margin: .5em auto;
}

.island {
  background: #ffffff;
  margin: 1rem 0;
  padding: 1.75rem;
  border-radius: 16px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.stat-card {
  position: relative;
  margin: 1rem 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 16px;
}

.tab-active {
  font-weight: 600;
  background-color: var(--theme-green-transparent);
}

.preserve-newlines {
  white-space: pre-wrap;
}

.one-line-hidden-scroll {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.one-line-hidden-scroll::-webkit-scrollbar {
  display: none;
}

.fade-out-right, .fade-out-left {
  position: absolute;
  top: 0;
  width: 20px; /* Adjust width as needed */
  height: 100%;
  pointer-events: none; /* Allows interaction with underlying elements */
}

.fade-out-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.fade-out-left {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
